{% extends 'base.html' %}
{% load filters %}
{%load static %}

{% block 'dashboard' %}

<div class = "container">
<div class="container-fluid">
    {% if messages %}
            <br>
            {%for message in messages%}
                <div class="alert {{message.tags}}">{{message}}</div>
            {%endfor%}
    {% endif %}
            <br>
            <!-- Abas da tela pacientes-->
            <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item" role="presentation">
                    <!-- Verificar se a aba ativa é a de cadastro -->
                    <a href="#tabFormulario" class="nav-link {% if not tab_exibicao %} active {% endif %}" id="linkFormulario" data-toggle="tab" role="tab" aria-controls="tabFormulario">Cadastro</a>
                </li>
                <li class="nav-item" role="presentation">
                    <!-- Verificar se a aba ativa é a de exibição -->
                    <a href="#tabExibicao" class="nav-link {% if tab_exibicao %} active {% endif %}" id="linkExibicao" data-toggle="tab" role="tab" aria-controls="tabExibicao">Ficha dos Pacientes</a>
                </li>
            </ul>


            <!-- Conteúdo da tela pacientes-->
            <div class="tab-content" id="meus-conteudos">
                <div class="tab-pane fade {% if not tab_exibicao %} show active {% endif %}" id="tabFormulario" role="tabpanel" aria-labelledby="linkFormulario">
                    <form action="{% url 'add_paciente' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>

                        <div class="form-row">
                            
                            <div class=" form-group col-md-3" style="height:200px">
                                <label>Foto:</label>
                                <label class="picture" for="picture__input" tabIndex="0">
                                    <span class="picture__image"></span>
                                </label>

                                <input class="form-control" type="file" name="fotos" id= "picture__input" multiple >
                            </div>
                            <div class="form-group col-md-9"> 
                                <label>História Pregressa:</label>
                                <textarea class="form-control" name="historia_pregressa_idoso" ></textarea>
                            </div>
                        </div>
                        <br>
                        
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Nome:</label>
                                <input class="form-control" type="text" name="nome">
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>CPF:</label>
                                <input class="form-control" type="text" name="cpf">
                            </div>
                            <div class="form-group col-md-6">
                                <label>RG:</label>
                                <input class="form-control" type="text" name="rg">
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>Sexo:</label>
                                <select class="form-control" name="sexo">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Estado Civil:</label>
                                <input class="form-control" type="text" name="estado_civil">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Setor:</label>
                                <input class="form-control" type="text" name="setor">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Vínculo:</label>
                                <input class="form-control" type="text" name="vinculo">
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>Data de Nascimento:</label>
                                <input class="form-control" type="date" name="data_nasc">
                            </div>
                            <div class="form-group col-md-2">
                                <label>Data de Admissão:</label>
                                <input class="form-control" type="date" name="data_admissao">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Raça:</label>
                                <input class="form-control" type="text" name="raca">
                            </div>
                            <div class="form-group col-md-5">
                                <label>Religião:</label>
                                <input class="form-control" type="text" name="religiao">
                            </div>
                        </div>
        
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Plano de Saúde:</label>
                                    <input class="form-control" type="text" name="plano_saude">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Cartão SUS:</label>
                                    <input class="form-control" type="text" name="cartao_sus">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Profissão:</label>
                                    <input class="form-control" type="text" name="profissao">
                                </div>
                            </div>
        
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Naturalidade:</label>
                                <input class="form-control" type="text" name="naturalidade">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Estado:</label>
                                <select class="form-control" name="estado_idoso">
                                    {% for sigla, nome in estado_choices %}
                                        <option value="{{ sigla }}">{{ nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Cidade:</label>
                                <input class="form-control" type="text" name="cidade_idoso">
                            </div>
                            <div class="form-group col-md-2">
                                <label>CEP:</label>
                                <input class="form-control" type="text" name="cep_endereco_idoso">
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Bairro:</label>
                                <input class="form-control" type="text" name="bairro_endereco_idoso">
                            </div>
                            <div class="form-group col-md-7">
                                <label>Rua:</label>
                                <input class="form-control" type="text" name="rua_endereco_idoso">
                            </div>
                            <div class="form-group col-md-1">
                                <label>Número:</label>
                                <input class="form-control" type="text" name="numero_endereco_idoso">
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Complemento:</label>
                                <input class="form-control" type="text" name="complemento_endereco_idoso" placeholder="Ex: nº apartamento, logradouro, ponto de referência">
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-mail:</label>
                                <input class="form-control" type="email" name="email_idoso">
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Celular:</label>
                                <input class="form-control" type="text" name="celular_idoso">
                            </div>
                            <div class="form-group col-md-4">        
                                <label>Outro Celular:</label>
                                <input class="form-control" type="text" name="celular_outro_idoso">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Telefone Residencial:</label>
                                <input class="form-control" type="text" name="tell_residencial_idoso">
                            </div>
                        </div>                                  
                        <br><br>
                        <input class="btn btn-success" type="submit" value="Enviar">
                        <br>
                    </form>


                </div>
                
                <br>
                <div class="tab-pane fade {% if tab_exibicao %} show active {% endif %}" id="tabExibicao" role="tabpanel" aria-labelledby="linkExibicao">

                    <!--Filtros de Pesquisa-->
                    <form id='form-filtros' action="{% url 'add_paciente' %}" method="GET" onsubmit="filtrar(event);">

                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" id="nomeInput" type="text" name="nome" placeholder="Nome...">
                            </div>

                            <div class = "col-md-2">
                                
                                <input class="form-control" id="dataAdmissaoInput" type="date" name="data_admissao" placeholder="Data Admissao">
                            </div>
                
                            <div class="col-md-2">
                                
                                <select class="form-control" id="sexoInput" name="sexo" placeholder="Sexo">
                                    <option value="">---</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                </select>
                            </div>
                
                            <div class="col-md-2">
                                
                                <input class="form-control" id="planoSaudeInput" type="text" name="plano_saude" placeholder="Plano de Saúde">
                            </div>

                            <div class="col-md-2">
                               <input class="form-control" id="setorInput" type="text" name="setor" placeholder="Setor">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md">
                                <input id="btn-filtro" style="margin-top:8px" type="submit" value="Filtrar"  class="btn btn-success" onclick="filtrar()">
                                <input id="btn-limpar" style="margin-top: 8px" type="button" value="Limpar Filtros" class="btn btn-danger" onclick="limparCampos()">
                                <br>                
                            </div>                    
                        </div>                
                    </form>

                    <!--Cars Dos Pacientes-->
                    <div class="listar_idosos">
                        <br>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            {%for idoso in page_obj.object_list%}
                                <div class="col-md-3">
                                    <div class="card">
                                        {%if idoso|get_first_image %}                        
                                            <img class="card-img-top" src="{{idoso|get_first_image}}" alt="Card image cap">
                                        {%else%}
                                        <img class="card-img-top"  src="{% static 'usuarios/img/no-image.png' %}" alt="Card image cap">
                                        {%endif%}
                                        <div class="card-body">
                                            <h6 class="card-title">{{idoso.nome_idoso}}</h6>
                                            <p class="card-text"><small class="text-muted">Ultima atualização realizada na data 00-99-00 pelo usuário *testeusuaruio*</small></p>
                                            <a href="{%url 'idoso' idoso.slug %}" class="btn btn-success">Ver</a>
                                        </div>
                                    </div>
                                    </div>
                            {%endfor%}
                    </div>
                    <br><br>
                    
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <ul class="pagination justify-content-end">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
                                    </li>
                                {% endif %}
                        
                                {% for pg in page_obj.paginator.page_range %}
                                    <!-- Sempre mostra as 3 primeiras e 3 últimas páginas -->
                                    {% if pg == 1 or pg == 2 or pg == 3 or pg == page_obj.paginator.num_pages or pg == page_obj.paginator.num_pages|add:'-1' or pg == page_obj.paginator.num_pages|add:'-2' %}
                        
                                        {% if page_obj.number == pg %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ pg }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ pg }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ pg }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ pg }}</a>
                                            </li>
                                        {% endif %}
                            
                                        {% else %}
                            
                                        {% if page_obj.number == pg %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ pg }}">{{ pg }}</a>
                                            </li>
                                        {% elif pg > page_obj.number|add:'-4' and pg < page_obj.number|add:'4' %}
                                            <!-- Mostra 3 páginas antes e 3 páginas depois da atual -->
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ pg }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ pg }}</a>
                                            </li>
                                        {% elif pg == page_obj.number|add:'-4' or pg == page_obj.number|add:'4' %}
                                            <li class="page-item">
                                                <a class="page-link" href="">...</a>
                                            </li>
                                        {% endif %}
                        
                                    {% endif %}
                                {% endfor %}
                        
                                {% if page_obj.has_next %}
                                    <li><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>



            <br>


            

        </div>    
</div>
    <style>
        
        .fundo{
            background-color: #F2F2F2;
            color: #262223;
        }
        
        .bg-nav{
            background-color: #DCF2BB;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        .bg-hr{
            background-color: #262223;
        }
        
        
        .container{
            background-color: white;
            border-radius: 10px;
            color: #262223;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        .nav-item{
            margin-top:10px;
            background-color: #DCF2BB;
            color: #262223;
            border-radius: 10px;
               
        }
        
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {        # aba ativa
            color:  white ;
            background-color:#80BF41;
            border-radius: 10px;
        }
        
        /* abas e formulario*/
        #linkExibicao{
            color:  #262223 ;
            font-weight: bold;
        }
        #linkFormulario{
            color:  #262223 ;
            font-weight: bold;
        }
        
        .form-control{
            border-radius: 10px;
            border: 1px solid #80BF41;
        }
        
        textarea {
            resize: none;
            height:100% !important;      
        }
        
        /* cards */
        .card{
            background-color:#DCF2BB;
            color:#262223;
            border-radius: 10px;
        }
        
        /* para editar espaço da foto */
        img.card-img-top{
            border-radius: 10px;
            height:180px;
        }
        
        /* botão de foto */
        #picture__input {
            display: none;
          }
          
          .picture {
            height:100%;
            width:100%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #aaa;
            border: 2px dashed #80BF41;
            border-radius: 10px;
            cursor: pointer;
            font-family: sans-serif;
            transition: color 300ms ease-in-out, background 300ms ease-in-out;
            outline: none;
            overflow: hidden;
          }
          
          .picture:hover {
            color: #80BF41;
            background: #ddd;
          }
          
          .picture:active {
            border-color: turquoise;
            color: turquoise;
            background: #eee;
          }
          
          .picture:focus {
            color: #777;
            background: #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          }
          
          .picture__img {
            max-width: 100%;
            
          }
          

        
    </style>
    <script>

// Seleciona todas as abas
const tabs = document.querySelectorAll('.nav-link');

// Adiciona um evento de clique para cada aba
tabs.forEach(tab => {
    tab.addEventListener('click', () => {
        // Remove a classe 'active' de todas as abas
        tabs.forEach(t => t.classList.remove('active'));
        // Adiciona a classe 'active' à aba clicada
        tab.classList.add('active');
        // Obtém o ID da aba clicada
        const tabId = tab.getAttribute('href').slice(1);
        // Oculta todos os conteúdos de abas
        document.querySelectorAll('.tab-pane').forEach(tabContent => {
            tabContent.classList.remove('show', 'active');
        });
        // Exibe o conteúdo da aba correspondente
        document.getElementById(tabId).classList.add('show', 'active');
    });
});

        
window.onload = function() {
    // Carrega os valores dos filtros se estiverem armazenados
    document.getElementById("nomeInput").value = localStorage.getItem("nomeFiltro") || "";
    document.getElementById("dataAdmissaoInput").value = localStorage.getItem("dataAdmissaoFiltro") || "";
    document.getElementById("sexoInput").value = localStorage.getItem("sexoFiltro") || "";
    document.getElementById("planoSaudeInput").value = localStorage.getItem("planoSaudeFiltro") || "";
    document.getElementById("setorInput").value = localStorage.getItem("setorFiltro") || "";
};

function filtrar(event) {
    event.preventDefault(); // Previne o comportamento padrão do formulário
    // Opcional: rolar até o topo da página para que o usuário saiba que algo aconteceu
    window.scrollTo(0, 0);    
    
    // Armazena os valores dos filtros
    localStorage.setItem("nomeFiltro", document.getElementById("nomeInput").value);
    localStorage.setItem("dataAdmissaoFiltro", document.getElementById("dataAdmissaoInput").value);
    localStorage.setItem("sexoFiltro", document.getElementById("sexoInput").value);
    localStorage.setItem("planoSaudeFiltro", document.getElementById("planoSaudeInput").value);
    localStorage.setItem("setorFiltro", document.getElementById("setorInput").value);

    // Submeta o formulário de filtro
    // Aqui você pode enviar os dados do filtro para o backend
    document.getElementById('form-filtros').submit(); // Submete o formulário
};

    
    // Função para limpar os campos de entrada
    function limparCampos() {
        document.getElementById('form-filtros').reset(); // Substitua 'form-filtros' pelo ID do seu formulário de filtros
    };

    //Preview da imagem
    const inputFile = document.querySelector("#picture__input");
    const pictureImage = document.querySelector(".picture__image");
    const pictureImageTxt = "Foto ";
    pictureImage.innerHTML = pictureImageTxt;

    inputFile.addEventListener("change", function (e) {
        const inputTarget = e.target;
        const file = inputTarget.files[0];
        if (file) {
            const reader = new FileReader();
        
            reader.addEventListener("load", function (e) {
              const readerTarget = e.target;
        
              const img = document.createElement("img");
              img.src = readerTarget.result;
              img.classList.add("picture__img");
        
              pictureImage.innerHTML = "";
              pictureImage.appendChild(img);
            });
        
            reader.readAsDataURL(file);
            } else {
            pictureImage.innerHTML = pictureImageTxt;
          }
        });
    </script>
{%endblock%}
