/* Estilos gerais */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Barra lateral */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: var(--light-color);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

/* Defina o tamanho da fonte usando unidades relativas */
body {
    font-size: 80%; /* Reduz o tamanho da fonte para corresponder ao zoom de 80% */
}

/* Layout responsivo usando media queries */
@media screen and (max-width: 768px) {
    /* Ajustes de layout para telas menores */
}

/* Espaçamento e margens flexíveis */
.container {
    padding: 20px;
    margin: 0 auto; /* Centraliza o conteúdo na tela */
    max-width: 1200px; /* Define uma largura máxima para o conteúdo */
}


/* Largura da barra lateral quando aberta */
.sidebar.open {
  width: 250px;
}

/* Detalhes do logotipo na barra lateral */
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

/* Ícone do logotipo */
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

/* Nome do logotipo */
.sidebar .logo-details .logo_name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

/* Mostrar logotipo e ícone quando a barra lateral está aberta */
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

/* Botão de alternar a barra lateral */
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* Ajuste do botão de alternar a barra lateral quando a barra lateral está aberta */
.sidebar.open .logo-details #btn {
  text-align: right;
}

/* Ícones na barra lateral */
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

/* Lista de navegação na barra lateral */
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

/* Itens da lista de navegação */
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

/* Tooltip para itens da lista de navegação */
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #F2F2F2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

/* Mostrar tooltip quando o item é hover */
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

/* Ocultar tooltip quando a barra lateral está aberta */
.sidebar.open li .tooltip {
  display: none;
}

/* Estilo do input na barra lateral */
.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--main-color);
}

/* Ajuste do input quando a barra lateral está aberta */
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

/* Ícone de busca */
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: var(--main-colro);
  color: #FFF;
}

/* Estilo do ícone de busca quando hover */
.sidebar.open .bx-search:hover {
  background: var(--main-color);
  color: #FFF;
}

/* Estilo do ícone de busca quando hover */
.sidebar .bx-search:hover {
  background: #F2F2F2;
  color: var(--main-color);
}

/* Links na lista de navegação */
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--main-color);
}

/* Estilo do link quando hover */
.sidebar li a:hover {
  background: #F2F2F2;
}

/* Nome dos links na lista de navegação */
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

/* Mostrar nome do link quando a barra lateral está aberta */
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

/* Estilo do nome do link e ícone quando hover */
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: var(--main-color);
}

/* Ícones na lista de navegação */
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

/* Detalhes do perfil na barra lateral */
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

/* Estilos da imagem de perfil */
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

/* Estilos do nome e cargo no perfil */
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

/* Estilos do cargo no perfil */
.sidebar li.profile .job {
  font-size: 12px;
}

/* Estilos do botão de logout */
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--main-color);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

/* Ajustes do botão de logout quando a barra lateral está aberta */
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

/* Seção principal */
.home-section {
  position: relative;
  min-height: 100vh;
  top: 0;
  background: white;
  left: 78px;
  color: var(--dark-color);
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

/* Ajustes da seção principal quando a barra lateral está aberta */
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

/* Estilos do texto na seção principal */
.home-section .text {
  display: inline-block;
  color: var(--main-color);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

/* Estilos adicionais para dispositivos de tela pequena */
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/* Classe adicional para o botão de logout */
.loggout {
  background: red;
}
